header {
  background-image: url('../img/climatechange.jpg');
  background-repeat: space;
  background-position: center;
  background-size: cover;
}

header.ccs {
  background-image: url('../img/ccs-landscape.jpg');
  background-repeat: space;
  background-position: center;
  background-size: cover;
}


.intro-text.success {
  background-color: #18BC9C;
  padding: 15px 0px;
}

section ul li {
  font-size: 20px;
}





.portfolio-ccs .portfolio-item img {
  width: 100%;
  height: 202px;
}

.portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
.portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
.portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
.portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
.portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
.portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  .portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
